$createdColor : #7FDBDA;
$sendedColor : #EDE682;
$recievedColor : #ADE498;

.status span{
    text-align: center;
    border-radius: 12px ;
    padding: 1px 12px 3px 12px;
    // background-color: rgb(245, 245, 245)
  }

.status[title=created] span{background-color: $createdColor;}
.status[title=sended] span{background-color: $sendedColor;}
.status[title=recieved] span{background-color: $recievedColor;}