
.status {
  margin: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.buttonGroup label input {
  position: absolute;
  display: none;
  color: #fff !important;
}


.btn {
  width: 100%;
  text-align: center;
  border-radius: 4px ;
  padding: 6px 12px;
}


